table {
  margin: 0 auto;
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 0 1rem #ababab;
  margin-bottom: 2rem;
  font-size: 0.8rem;
}

.width-60 {
  width: 60%;
  margin: 3rem auto;
}

.width-15 {
  width: 15%;
}

.filter-btn {
  padding: 0.1rem 1rem;
  background-color: #2c91fe;
  color: white;
  cursor: pointer;
  border-radius: 0.3rem;
  border: #4ba2ff;
}

th {
  background-color: #c3c3c3;
}

tr:first-child {
  height: 3rem;
}

th, tr, td {
  text-align: center;
  height: 4.5rem;
  padding: 0.5rem 0.4rem;
  border-bottom: 2px solid #e1e1e1;
}

tr:hover {
  background-color: #f4f7f8;
}

tr:first-child th:first-child {
  border-top-left-radius: 0.5rem;
}
tr:first-child th:last-child {
  border-top-right-radius: 0.5rem;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 0.5rem;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 0.5rem;
}

.table-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  overflow: hidden;
  border-radius: 0.4rem;
  border: 1px solid #ababab;
}

.table-image > img {
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1.5);
}

.item-cell {
  width: 12%;
}

.comment-cell {
  max-width: 20%;
}

.status-cell {
  max-width: 5%;
}

.status-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}

.status-box p {
  width: 6rem;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
}

.status-full {
  background-color: #7ae582;
  color: #004b23;
}

.status-partial {
  background-color: rgb(191, 124, 0);
  color: white;
}

.status-pending {
  background-color: gold;
  color: rgb(52, 39, 1);
}

.sm-comment-cell {
  width: 8%;
  padding: 0 1rem;
}

.action-box {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.action-box img {
  width: 2rem;
}

.delete-item {
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

.archive-item {
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

.unarchive-item {
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

.tab {
  display: flex;
  margin-left: 1rem;
  margin-bottom: -1px;
  z-index: 1;
}

.tablinks {
  width: 6rem;
  border: 1px solid #ababab;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 700;
}

.tablinks:first-child {
  border-top-left-radius: 0.5rem;
}

.tablinks:last-child {
  border-top-right-radius: 0.5rem;
}

.active-tab {
  background-color: #c3c3c3;
  border-color: #c3c3c3;
  border-top-color: #ababab;
}

.searchbox {
  width: 13rem;
  margin-left: 4rem;
  display: flex;
  height: 2rem;
  background-color: white;
  border-radius: 0.5rem;
  border: 1px solid #ababab;
}

.search-input {
  padding: 0.4rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
}

.search-input:focus {
  outline: none;
}

.search-btn {
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

.dropdown {
  text-align: left;
}

select {
  border-radius: 0.3rem;
  width: 5rem;
  border: 1px solid #ababab;
}

.search-btn > img {
  width: 1.8rem;
}

.date-range {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.date-box {
  border-radius: 0.3rem;
  padding: 0 0.3rem;
  border: 1px solid #ababab;
}

.date-box:focus {
  outline: none;
}

.confirmation-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid #ababab;
  padding: 2rem;
  box-shadow: 0 0 1rem #909090;
  z-index: 9999;
}

.confirmation-content {
  text-align: center;
}

.confirm-buttons {
  width: 10rem;
  margin: 1rem auto 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.confirm-btn, .cancel-btn {
  padding: 0.5rem 1rem;
  min-width: 5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  font-weight: 700;
}

.confirmation-content a {
  text-decoration: none;
}

.confirm-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.cancel-btn {
  background-color: #ccc;
  color: #545454;
  border: none;
}

.hide {
  display: none;
}

th {
  cursor: pointer;
  -ms-user-select: none;
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari and Chrome */
  user-select: none; /* IE 10+ */
}

.table-header-element {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort-icon {
  width: 0.7rem;
  height: 0.8rem;
}

.zoomable-image {
  cursor: pointer;
}

.zoomed-photo {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.9);
}
.zoomed-photo img {
  max-width: 90%;
  max-height: 90%;
  display: block;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Pagination style*/

.pagination_container {
  max-width: 80%;
  margin: 0 auto 3rem;
  background-color: #f4f7f8;
  box-shadow: 0 0 1rem #686868;
  border-radius: 0.5rem;
}

.pagination {
  min-height: 2rem;
  padding: 0.2rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.page {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
  background-color: #d3d3d3;
}

.active {
  background-color: #929292;
  color: #fff;
}