.profile-container {
  min-height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-subcontainer {
  min-width: 50%;
  min-height: 20rem;
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #f4f7f8;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem #ababab;
}

.left {
  width: 100%;
  display: flex;
  justify-content: right;
  text-align: center;
  padding-right: 1rem;
}

.left-image {
  width: 6rem;
  border-radius: 50%;
}

.left-subcontainer > h1 {
  font-size: 1.2rem;
}

.right {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 1rem;
  line-height: 1.5;
}

.right-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.description {
  font-weight: 800;
}