{% extends 'supply/base.html' %}
{% load static %}
{% block title %}Add Order{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static '/css/add_order.css' %}">
{% endblock head %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Order</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/add_order.css">
  <script defer src="add_order_validation.js"></script>
</head>
<body>



  <form id="form" class="add-order-container">
    <div class="add-order-subcontainer">
      <div class="headline">
        <img src="/assets/invento_logo.png" alt="school logo" class="headline-logo">
        <h1 class="title">Add an item</h1>
      </div>
      <div class="input-control">
          <input id="item" name="item" type="text" placeholder="Item">
          <div class="error"></div>
      </div>
      <div class="input-control">
          <input id="image_link" name="image_link" type="text" placeholder="Image link">
          <div class="error"></div>
      </div>
      <div class="input-control">
          <input id="quantity"name="quantity" type="number" placeholder="Quantity">
          <div class="error"></div>
      </div>
      <div class="input-control">
          <input id="measurement"name="measurement" type="text" placeholder="Measurement">
          <div class="error"></div>
      </div>
      <div class="input-control">
        <input id="comments" name="comments" type="text" placeholder="Comments">
        <div class="error"></div>
      </div>
      <button type="submit" class="submit_btn">Add Order</button>
    </div>
  </form>

</body>
</html>