<header>
    <nav>
      <div class="nav-item">
        <a href="#" class="nav-link">
          <img src="{% static "supply/assets/icons8-home-96.png" %}" alt="home">
          <p>Home</p>
        </a>
      </div>
      <div class="nav-item">
        <a href="#" class="nav-link">
          <img src="{% static "supply/assets/icons8-account-96.png" %}" alt="profile">
          <p>Profile</p>
        </a>
      </div>
      <div class="nav-item">
        <a href="#" class="nav-link">
          <img src="{% static "supply/assets/icons8-logout-96.png" %}" alt="logout">
          <p>Logout</p>
        </a>
      </div>
    </nav>
  </header>