{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{% static "supply/css/main.css" %}">
  <link rel="stylesheet" href="{% static "supply/css/add_order.css" %}">
</head>
<body>



  <form id="login_form" class="add-order-container" method="post" action='{% url "login" %}'>
    {% csrf_token %}
    <div class="add-order-subcontainer">
        <div class="headline">
            <img src='{% static "supply/assets/invento_logo.png" %}' alt="school logo" class="headline-logo">
            <h1 class="title">Invento Supply</h1>
        </div>
        
        <div class="input-control">
            <input id="username" name="email" type="text" placeholder="Username">
            <div class="error"></div>
        </div>
        <div class="input-control">
            <input id="password" name="password" type="password" placeholder="Password">
            <div class="error"></div>
        </div>
        <button type="submit" class="submit_btn login_button">Login</button>
        {% if error_message %}
            <div class="error">{{ error_message }}</div>
        {% endif %}
    </div>
    
</form>


</body>
</html>